* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 30px;
}

.container1 {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container2 {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 90px;
}

.firstDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraf {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
}

.paragraf1 {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
}

.poto1 {
  border-radius: 10px;
}
